name: Cleanup Images
on:
  workflow_dispatch:
  schedule:
    - cron: "21 0 * * 0"
jobs:
  clean:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/delete-package-versions@v5
        with:
          num-old-versions-to-delete: 50
          package-type: container
          package-name: bossdockerimages
          token: ${{ secrets.REGISTERY_TOKEN_2 }}