name: build java
on:
  workflow_dispatch:
  schedule:
    - cron: "21 0 * * 0"
  push:
    branches:
      - main
    paths:
      - java/**

jobs:
  call:
    permissions:
      contents: read
      packages: write
      #  This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write
    uses: ./.github/workflows/BuildDeploy.yml
    with:
      tags: "[8, 11, 17, 21, 25]"
      image_name: "java"
      folder: "java"
    secrets: inherit