name: build postgres
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  schedule:
    - cron: "21 0 * * 0"
  push:
    branches:
      - main
    paths:
      - postgres/**
      - .github/workflows/postgres.yml
      - .github/workflows/BuildDeploy.yml
jobs:
  call:
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write
    uses: ./.github/workflows/BuildDeploy.yml
    with:
      tags: "[15, 16, 17, 18]"
      image_name: "postgres"
      folder: "postgres"
    secrets: inherit